[submodule "Dependencies/json"]
	path = Dependencies/json
	url = https://github.com/nlohmann/json.git
[submodule "Dependencies/spdlog"]
	path = Dependencies/spdlog
	url = https://github.com/gabime/spdlog.git
